/node_modules
/public/hot
/public/storage
# Ignore everything in storage except specific folders
/storage/*
!/storage/app
!/storage/app/public
!/storage/app/public/images
!/storage/.gitignore
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
